@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.sidebar-text {
    font-size: small;
    color: whitesmoke;
}

.sidebar-logo {
    padding: 15px 15px 10px 30px;
    font-size: 20px;
    text-align: right;
    background-color: #13534e;
    width: 100%;
}

.welcometxt{
    float: left;
    color: whitesmoke;
}

.logoutbtn {
    border: none;
    background: transparent;
    color: white;
    border-radius: 15px;
    margin-left: 1px;
    margin-right: 1%;
    padding: 5px 10px 5px 10px;
    font-size: small;
}

.user-footer{
    bottom: 0;
    width: 100%;
    position:fixed;
}

.logoutbtn:hover {
    cursor: pointer;
    background-color: #23ad9b;
    padding: 5px 8px 5px 8px;
    border-radius: 15px;
}

.container {
    max-width: 600px;
    height: 110%;
    margin-top: 5%;
    margin-bottom: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 35px 8px rgb(147, 158, 147);
    background-color: white;

}

input {
    border-radius: 12px;
    margin-top: 8px;
}

.textual {
    color: rgb(64, 85, 15);
    text-align: center;
    margin-top: -20px;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    text-transform: uppercase;
}

label {
    margin-top: 8px;
    font-family: 'Mate',sans-serif;
    letter-spacing: 1px;
}

.text {
    font-family: 'Mate',sans-serif;
    font-size: larger;
}

.registerbtn {
    background-color: transparent;
    padding-left: 8%;
    padding-right: 8%;
    margin: auto;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid black;
    margin-bottom: 0%;
}

.registerbtn:hover {
    background-color: rgb(23, 78, 78);
    padding-left: 7%;
    padding-right: 7%;
    cursor: pointer;
    color: white;
}

.row {
    display: flex;
    justify-content: center;
}

#bloodCards {
    margin-top: 4rem;
    // width: 46%;
    // height: 40%;
    transition: transform .2s;
    box-shadow: 5px 5px 25px 8px rgb(147, 158, 147);
}

#bloodCards:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.bloodimg {
    float: right;
}

.card-block {
    margin-top: -20%;
    margin-bottom: 2%;
    margin-left: 20px;
    // padding-left: 20px;
}

.element-1{
margin-left: 53px;
}

.element-2{
    color: red;
    font-size: larger;
    margin-left: 38px;
}

.element-3{
    margin-left: 19px;
}

.element-4{
    margin-left: 83px;
}

.element-5{
    margin-left: 87px;
}

.element-6{
    margin-left: 110px;
}

.message{
    text-align: center;
    margin-top: 3%;
    color: green;
}

.updated{
    text-align: center;
    color: green;
}

.dear-user{
    text-align: center;
    color: navy;
}

.heading{
    color: navy;
}

.editbtn {
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px 20px 5px 20px;
    margin-top: 3%;
    margin-bottom: 1%;
    background-color: #13534e;
}

.editbtn:hover {
    cursor: pointer;
}

.btndiv {
    margin-left: 40%;
    align-content: center;
}

form{
    margin: 2rem;
}

.text-center{
    text-align: center;
}