<div class="sidebar-logo">
    <div class="welcometxt"><b>User Dashboard</b></div>
    <button class="homebtn" (click)="navigateHome()"><i class="fa fa-home"></i> Home</button>
    <b class="sidebar-text"><i class="fa fa-user"></i> Welcome {{loggedUser}}</b>
    <button class="logoutbtn" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
</div>

<div class="container">
    <h2 class="textual">Voluntear As Donor </h2>
    <div class="message"><b>{{msg}}</b></div>
    <form #addDonorform="ngForm" (ngSubmit)="addDonor()">

        <div class="form-group">
            <label for="donorname">Name: <b class="text-danger">*</b></label>
            <input type="text" class="form-control" placeholder="Enter Your Name" name="donorname"
                [(ngModel)]="donor.name" required #donorname="ngModel"
                [class.is-invalid]="donorname.invalid && donorname.touched">
            <small class="text-danger" [class.d-none]="donorname.valid || donorname.untouched"><b>required
                    field</b></small>
        </div>
        <small class="suggesstion">Please enter full name of the donor with initial</small>

        <div class="form-group">
            <label for="bloodgroup">Blood Group: <b class="text-danger">*</b></label>
            <select type="text" class="form-control" placeholder="Enter Blood Group" name="bloodgroup"
                [(ngModel)]="donor.bloodGroup" required #bloodgroup="ngModel"
                [class.is-invalid]="bloodgroup.invalid && bloodgroup.touched">
                <option selected>O+ve</option>
                <option>O-ve</option>
                <option>A+ve</option>
                <option>A-ve</option>
                <option>B+ve</option>
                <option>B-ve</option>
                <option>AB+ve</option>
                <option>AB-ve</option>
            </select>
            <small class="text-danger" [class.d-none]="bloodgroup.valid || bloodgroup.untouched"><b>required
                    field</b></small>
        </div>

        <div class="form-group">
            <label for="units">Units of Blood: <b class="text-danger">*</b></label>
            <select class="form-control" placeholder="1" id="sel1" name="units" [(ngModel)]="donor.units"
                #units="ngModel">
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <small class="text-danger" [class.d-none]="units.valid || units.untouched"><b>required field</b></small>
        </div>
        <small class="hint">Maximum units can be donated is 3
            pints</small>

        <div class="form-group">
            <label for="mobile">Mobile Number: <b class="text-danger">*</b></label>
            <input type="tel" class="form-control" placeholder="Enter Mobile Number" name="mobile"
                [(ngModel)]="donor.mobileNumber" required #mobile="ngModel"
                [class.is-invalid]="mobile.invalid && mobile.touched">
            <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched"><b>required field</b></small>
        </div>
        <small class="suggesstion">Please enter 10 digit valid mobile number</small>

        <div class="form-group">
            <label for="gender">Gender: <b class="text-danger">*</b></label>
            <select class="form-control" id="sel1" name="gender" [(ngModel)]="donor.gender" #gender="ngModel">
                <option selected>Male</option>
                <option>Female</option>
                <option>Others</option>
            </select>
        </div>

        <div class="form-group">
            <label for="age">Age: <b class="text-danger">*</b></label>
            <input type="number" min="0" max="65" class="form-control" name="age"
                [(ngModel)]="donor.age" required #age="ngModel" [class.is-invalid]="age.invalid && age.touched">
            <small class="text-danger" [class.d-none]="age.valid || age.untouched"><b>required field</b></small>
        </div>
        <small class="hint">Maximum Age limit of donors is
            65</small>

        <div class="form-group">
            <label for="city">Location: <b class="text-danger">*</b></label>
            <input type="text" class="form-control" placeholder="Enter Your City" name="city" [(ngModel)]="donor.city"
                required #city="ngModel" [class.is-invalid]="city.invalid && city.touched">
            <small class="text-danger" [class.d-none]="city.valid || city.untouched"><b>required field</b></small>
        </div>
        <small class="suggesstion">Please mention proper city name (eg: Coimbatore)</small>

        <div class="form-group">
            <label for="address">Address: <b class="text-danger">*</b></label>
            <input type="text" class="form-control" placeholder="Enter Your Address" name="address"
                [(ngModel)]="donor.address" required #address="ngModel"
                [class.is-invalid]="address.invalid && address.touched">
            <small class="text-danger" [class.d-none]="address.valid || address.untouched"><b>required field</b></small>
        </div>
        <small class="suggesstion">Please mention proper donor address for reference purpose</small>

        <div class="form-group">
            <label for="date">Date of Donation: <b class="text-danger">*</b></label>
            <input type="date" class="form-control" id="date" name="date"
                [(ngModel)]="donor.date" required #date="ngModel" [class.is-invalid]="date.invalid && date.touched">
        </div>
        <small class="suggesstion">By default, today's date will be selected</small>

        <div class="checkbox">
            <small class="checkbox-1"><input type="checkbox" name="remember" required> Are you interested to donate
                blood </small><br>
            <small> (Adding you as a donor without your interest is
                against our Terms and Conditions !!!)</small>
        </div>
        <button style="margin-top: 15px;" [disabled]="addDonorform.form.invalid" type="submit"
            class="btn registerbtn">Add Donor</button>
    </form>
</div>
<br><br><br><br>
<div class="user-donor-footer">
    <app-footer></app-footer>
</div>